<!doctype html>
<html lang="en">
  <head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Additional CSS -->
    <link rel="stylesheet" href="shared.css">

    <title>{PROJECT TITLE} - Hobby Hub</title> <!--Put your project title in here-->
    <style>
      img {
        width: 100%;
      }
      h1 {
      	Color: White
      }
      h2 {
      	Color: White
      }
      h3 {
      	Color: White
      }
      ul {
      	Color: White
      }
      p {
      	Color: White
      }
      div {
      	Color: White
      }
      a {
      	color: Black;
      }
      a:hover{
      	Color: lightgrey;
      }
    	
	</style>
  </head>

  <body style="background-color:#61bd50">
  
    <nav class="navbar navbar-light bg-light">
    	<a href="https://torin-perkins.github.io/Hobby-Hub/"><img src="https://media.discordapp.net/attachments/728439230191239248/738793021734387832/1.png?width=1440&height=348" alt="Hobby Hub Logo" style="width:200px;"></a><!--This is the logo and attached image. Link it to home page-->
      <pre>               </pre><!--Add Spacing here-->
          <a class="nav-link" href="https://torin-perkins.github.io/Hobby-Hub/web/about">About the Team</a><!--Link this to about page-->
          <a class="nav-link" href="http://nwapw.org/">NWAPW</a>
          <a class="nav-link" href="https://github.com/Torin-Perkins/Hobby-Hub/tree/master" >Github Repository</a>
          <a class="nav-link" href="https://dotnet.microsoft.com/apps/xamarin">Xamarin</a>
    </nav>

    <div class="container pb-5">
      <div class="row p-3 justify-content-center">
        <div class="col-xs text-center">
          <h1>
            Connecting a Global Community Through Hobbies
          </h1>
          <!--<p>
            This is a project for <a href="https://nwapw.org">NWAPW</a> to do kladsjfklsdjfklafklsd
          </p>
          <p>
            *copy paste most of first paragraph of design document*
          </p>-->
        </div>
      </div>

      <!--<div class="container">
        <div class="row p-1 pt-4 justify-content-center">
          <h2>
            The Team
          </h2>
        </div>

        <div class="row justify-content-center">
          <div class="col text-sm-right text-center">
            <img class="img-responsive" src="http://placekitten.com/325/200" >
          </div>
          <div class="col pt-3 pt-sm-1 text-sm-left text-center">
            <h3 class="h5" style="color:white">
              Team members:
            </h3>
            <ul>
              <li>John doe</li>
              <li>Jane Smith</li>
            </ul>
          </div>
        </div>-->
        <!--
          If you have a really big team photo, this might look better
          <div class="row justify-content-center">
            <div class="col text-center">
              <img class="img-responsive" src="http://placekitten.com/500/350" >
            </div>
          </div>
          <div class="col text-center">
            <div class="col pt-3 text-center">
              <h3 class="h5">
                Team members:
              </h3>
              <ul>
                <li>John doe</li>
                <li>Jane Smith</li>
              </ul>
            </div>
          </div>
        -->

      <!-- Update these next two with your youtube video links -->
      <div class="row p-1 pt-4 justify-content-center">
        <h2>
          Demo Video
        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col text-center">
          <iframe class="w-100" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row p-1 pt-4 justify-content-center">
        <h2>
          Technical Demo Video
        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col text-center">
<iframe width="900" src="https://www.youtube.com/embed/IH9RRUamN_8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
      </div>

      <!--<div class="row p-1 pt-4 justify-content-center">
        <h2>
          Project Links
        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg text-center">
          <ul>
            <li><a href="https://github.com/user/repo">GitHub</a></li>
            <li><a href="https://github.com/user/repo">Live demo</a></li>
          </ul>
        </div>
      </div>


      <div class="row p-1 pt-4 justify-content-center">
        <h2>
          Optional additional material
        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg text-center">
          Content and such if you have it
        </div>
      </div>
    </div>-->
  </body>
</html>
